a {
  text-decoration: none;
  color: #03dffc;
}

a:hover {
  text-decoration: none;
  color: red;
}

body {
  opacity: .9;
  color:gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: black;
}

footer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  color: #9003fc;
  font-style: italic;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

h2 {
  color: #fce303;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

h3{
  margin-bottom: 0;
  margin-top: 2rem;
}

h4 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h5 {
  margin-top: 0.5rem;
}
p{
  color: white;
  margin-left: 500px;
  margin-right: 500px;
}


ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}
section>p {
  background-color: purple;
  opacity: .6;
  text-align-last: center;
}
